<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--<plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            &lt;!&ndash; 设置数据库方言&ndash;&gt;
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>-->

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 定义别名-->
    <typeAliases>
        <typeAlias type="cn.yongtao.pojo.User" alias="user"/>
    </typeAliases>

</configuration>