<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yongtao.mapper.UserMapper">

    <select id="queryUser" parameterType="int" resultType="user">
        select id, username, status, last_time, create_time
        from user
        where id = #{id}
    </select>

    <select id="queryPassword" parameterType="string" resultType="user">
        select id, password
        from user
        where username = #{username}
    </select>

    <select id="queryIdByUsername" parameterType="string" resultType="int">
        select ifnull((select id from user where username = #{username} limit 1), 0)
    </select>

    <select id="queryFriend" parameterType="int" resultType="user">
        select friend_id as id, time as create_time
        from friend
        where id = #{id}
    </select>


    <insert id="insertUser" parameterType="user">
        insert into user(username, password, status, create_time) value (#{username}, #{password}, 0, current_timestamp)
    </insert>

    <update id="updateLastTime" parameterType="int">
        update user
        set last_time = current_timestamp
        where id = #{id}
        limit 1
    </update>

</mapper>