<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yongtao.mapper.UserMapper">

    <select id="queryUser" parameterType="int" resultType="user">
        select id,username
        from user
        where username = #{username}
          and password = #{password}
    </select>

    <select id="queryPassword" parameterType="string" resultType="string">
        select password
        from user
        where username = #{username}
    </select>

    <insert id="insertUser" parameterType="user">
        insert into user(username, password, status) value (#{username}, #{password}, 0)
    </insert>

</mapper>